@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bannerIcon{
        @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
    }
    .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
         }
.bgOpacity {
@apply bg-black bg-opacity-40;
                  }
    .contactInput{
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
    }
.contactTextArea{
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
}
}

.active {
    color: white;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.modal-info{
    background-color:#212428 !important;
}
.modal-con{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

.modal-card{
    width: 1300px;
    height: 82vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 20px;
    position: relative;
    background-color: #212428;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 20px;
    
}
.modal-card .modal-left{
    width: 49%;
}
.modal-card .modal-left img{
    width: 70%;
}

.modal-card .modal-right{
    width: 49%;
}
.modal-card .modal-right h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #d60922;

}
.modal-card .modal-right p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.cross-icon{
color: aliceblue;
position: absolute;
z-index: 1111;
top: 30px;
right: 30px;
background-color: #d60922;
width: 30px;
height: 30px;
padding: 5px;
border-radius: 50px;
cursor: pointer;
}
.d-none{
    display: none;
}